<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zj</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Zajal Sketch</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Ruby Script</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>MyHead.icns</string>
	<key>CFBundleIdentifier</key>
	<string>cc.zajal.Zajal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array/>
	<key>CFBundleVersion</key>
	<string>0.3.1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSMainNibFile</key>
	<string>WithWindow</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array/>
	<key>SUFeedURL</key>
	<string>https://www.zajal.cc/release/cocoa/appcast.xml</string>
	<key>UTExportedTypeDeclarations</key>
	<array/>
	<key>UTImportedTypeDeclarations</key>
	<array/>
	<key>ZJTextEditors</key>
	<array>
		<string>TextMate</string>
		<string>MacVim</string>
		<string>TextWrangler</string>
		<string>BBEdit</string>
		<string>SubEthaEdit</string>
		<string>Kod</string>
		<string>Redcar</string>
		<string>Smultron</string>
		<string>Fraise</string>
		<string>Espresso</string>
		<string>TextEdit</string>
	</array>
</dict>
</plist>
