<header>
	<nav>
		<a href="/" id="logo"><h1>Zajal</h1></a>
		<a href="#" id="btn-nav">
			<div id="menu-icon">
				<span id="top" class="bar"></span>
				<span id="middle" class="bar"></span>
				<span id="bottom" class="bar"></span>
			</div>
		</a>
		<ul>
			<li><a href="/overview">Overview</a></li>
			<li><a href="/docs">Documentation</a></li>
			<li><a href="/tutorials">Tutorials</a></li>
			<li><a href="/community">Community</a></li>
		</ul>
	</nav>
</header>
<div id="bigheader">
	<div id="hero-img">
		<div class="hero-sized"></div>
	</div>
</div>