<head>
	<title>Zajal</title>
	<meta charset="utf-8">
	<meta name="description" content="The Zajal Programming Language">
	<meta name="author" content="Ransey Nasser">

	<!-- Skeleton -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/skeleton/base.css">
	<link rel="stylesheet" href="css/skeleton/skeleton.css">
	<link rel="stylesheet" href="css/skeleton/layout.css">

	<!-- Yup, jQuery -->
	<script type="text/javascript" src="js/jquery.js"> </script>

	<!-- Web fonts -->
	<link href='http://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/scifly/font-face.css" type="text/css">

	<!-- Syntax Highlighting -->
	<link rel="stylesheet" href="css/tomorrow.css">
	<script src="js/highlight.js"></script>
	<script type="text/javascript">
	  hljs.tabReplace = '  ';
	  hljs.initHighlightingOnLoad();
	</script>

	<!-- Local Styles -->
	<link rel="stylesheet" href="css/style.css">

	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">
	 $(function() {
	 	$(".toggle-details").click(function() {
	 		$(this).parent().parent().find("> .parameters").toggle();
	 		$(this).parent().parent().find(".toggle-source").toggle();
	 	});

	 	$(".toggle-source").click(function() {
	 		$(this).parent().parent().find(".view-source").toggle();
	 	});

		// $(window).scroll(function() {
		// 	var scrollPosition = $(this).scrollTop() + 80;
		// 	$("h4").each(function(i, e) {
		// 		if($(e).offset().top < scrollPosition && !$(e).hasClass("sticky")) {
		// 			$(".sticky").removeClass("sticky");
		// 			$(e).addClass("sticky");
		// 		}
		// 	});
		// })
	}); 
	</script>
</head>