<div class="sixteen columns">
  <hr>
  <h2>Reference</h2>
  <p>This is a detailed description of Zajal's built in functionality. For a more general overview, read <a href="#">the guide</a>. For something more technical, read the <a href="http://rubydoc.info/github/nasser/zajal">the YARD documentation</a>.</p>
</div>

{{#modules}}
  <div class="module sixteen columns">
    <h3>{{name}}</h3>
    <p>{{{summary}}}</p>
    <p>{{{elaboration}}}</p>
  </div>

  <!-- {{name}} Methods -->
  {{#zajal_methods}}
    {{^overloads}}
      {{> method-content}}
    {{/overloads}}
    {{#overloads}}
      {{> method-content}}
    {{/overloads}}
  {{/zajal_methods}}
  <!-- /{{name}} Methods -->

  <!-- {{name}} Classes -->
  {{#classes}}
    {{#zajal_methods}}
    {{^overloads}}
      {{> method-content}}
    {{/overloads}}
    {{#overloads}}
      {{> method-content}}
    {{/overloads}}
    {{/zajal_methods}}
  {{/classes}}
  <!-- /{{name}} Classes -->
{{/modules}}