<div class="method sixteen columns" id="{{simple_path}}">
<div class="signature">
  <a href="#{{simple_path}}">{{#instance_name}}{{instance_name}}.{{/instance_name}}{{name}} 
    <span class="parameters">
      {{clean_parameters}}
      {{#useful_returns}}&rarr; <em>{{text}}</em>{{/useful_returns}}
    </span>
  </a>
</div>
<div class="parameters" id="{{simple_path}}-parameters">
  {{#params}}
  <div class="parameter">
    <span class="name">{{name}}</span> <span class="types">({{clean_types}})</span> <span class="description">&mdash; {{{linkified_text}}}</span>
  </div>
  {{/params}}
</div>
{{{summary}}}
{{{elaboration}}}
<p>
  <a class="toggle-details">Details</a>
  <a class="toggle-source">Source</a>
</p>
<div class="view-source" id="{{simple_path}}-source">
<pre class="source"><code class="ruby"># <a target="_blank" href="https://github.com/nasser/zajal/blob/amsterdam/{{short_file}}#L{{line}}">{{short_file}}:{{line}}</a>&#10;{{source}}</code></pre>
</div>
{{#examples}}
  <pre><code class="ruby{{#image_b64}} screenshot{{/image_b64}}">{{#title}}# {{title}}&#10;{{/title}}{{code}}</code>{{#image_b64}}<img src="data:image/png;base64,{{image_b64}}">{{/image_b64}}</pre>
{{/examples}}
</div>