<div id="navigation" class="row">
  <div class="four columns">
    <h1 class="remove-bottom">Zajal</h1>
  </div>
  <ul class="menu twelve columns">
    <li><a href="http://sketch.zajal.cc/">Sketchbook</a></li>
    <li><a href="http://blog.zajal.cc/">Blog</a></li>
    <li><a href="http://docs.zajal.cc">Reference</a></li>
    <li><a href="http://zajal.cc/release/cocoa/Zajal-0.3.5.zip">Get Zajal</a></li>
  </ul>
</div>