h1,
h2,
h3 {
  font-family: Scifly;
}

pre {
  position: relative;
  margin-bottom: 20px;
}

img {
  margin-bottom: 20px
}

pre img {
  position: absolute;
  right: 1em;
  top: 1em;
}

code {
  font-family: Inconsolata, Menlo, monospace;
  font-size: 18px;
}

p code {
  background: #f4f4f4;
  padding: 2px;
  border: 1px solid #e9e9e9;
  font-size: 0.9em;
}

pre code {
  background: #f4f4f4;
  overflow: scroll;

  min-height: 110px;
  padding-right: 125px;

/*  font-smoothing: auto;
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -o-font-smoothing: auto;*/
}

.sticky {
  position: fixed;
  top: 60px;
  z-index: 5;
}

.signature,
.parameter {
  font-family: Inconsolata, Menlo, monospace;
  font-weight: bold;
  background: white;
  width: 100%;
}

.signature {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.signature a {
  text-decoration: none;
}

.signature a .parameters {
  font-weight: normal;
}

.signature a:hover {
  text-decoration: underline;
}

.summary {
  margin-top: 20px;
}

.parameter {
  font-size: 1.2em;
}

.parameters .parameter:last-child {
  margin-bottom: 20px;
}

.parameter .description {
  font-weight: normal;
}

.parameter .types {
  font-style: italic;
}

.parameter p { /* for markdown generated <p> elements */
  display: inline;
}

.container {
  padding-top: 60px;
}

#navigation {
  position: fixed;
  top: 0;
  height: 60px;

  background: white;
  z-index: 1;
}

#navigation h1 {
  padding-top: 4px;
  font-size: 40px;
}

#navigation .menu {
  margin-top: 30px;
}

#navigation .menu li {
  float: right;
  margin-left: 1em;
}

#navigation .menu li:first-child {
  margin-left: none;
}

#navigation .menu li a {
  text-decoration: none;
}

.method .toggle-details,
.method .toggle-source {
  cursor: pointer;
}

.method > .parameters,
.method .view-source,
.method .toggle-source {
  display: none;
}

div .method {
  padding-top: 60px;
}

@media only screen and (max-width: 767px) {
  .sticky {
    position: fixed;
    top: 90px;
    z-index: 5;
  }

  div .method {
    padding-top: 85px;
  }

  #navigation {
    height: 90px;
  }

  #navigation h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 10px;
  }

  #navigation .menu {
    display: none;
  }

  #navigation .menu li {
    float: right;
    margin-left: 1em;
  }
}

